@media only print{
  nav {
    display:none!important;
  }
}
nav {
  position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.5em 0.5em -0.5em;
  padding: 0.5em 0;
  background: #1d3557;
  margin: auto;
}
.logo {
  font-size: 0;
}
.logo svg {
  vertical-align: center;
}
@media only screen and (min-width: 760px) {
  .logo {
    font-size: 2em;
    font-family: serif;
  }
}
nav a,
nav a:hover {
  color: #fff;
  margin: 0 0.5em;
  text-align: center;
  text-transform: capitalize;
  line-height: 1em;
}
nav a.router-link-exact-active {
	text-decoration: underline;
}
nav form {
  display: inline-flex;
}
nav form input[placeholder] {
  width: 6em;
}
::-webkit-input-placeholder {
  text-align: right;
}
input:-moz-placeholder {
  text-align: right;
}
